.título{
    color:rgb(92, 65, 65);
    text-align:center;
   
}
.texto{
    color:rgb(20, 20, 20);
    font-size: 20px;
    text-align:center;

}

body{
    background-color: rgb(196, 135, 135);
    
}
.border-border-primary{
    color:rgb(0, 0, 255)
}





